{% extends 'base.html.twig' %}
{% block title %}

Liste Auteurs

{% endblock %}
{% block stylesheets %}
  
    <style>
        /* pour center l'ensemble de la page */
        .center {
        width: 300px;
        border-collapse: collapse;
        }

        /* pour ajouter une bordure à chaque auteur */
        .author-list {
        border: solid 2px #3498db;
        text-align: left;
        padding: 40px;
       
        }
    </style>
{% endblock %}

{% block body %}

    <h1>Liste des Auteurs par noms</h1>

    <nav>
    <a href=" {{  path('app_author_create') }}">Ajouter un auteur</a>
    </nav>
    
        <div class="center">

            

                {% for author in authors %}

            <div class="author-list">

                <h3>{{author.name }}</h3>
                <h4>{{author.description }}</h4>
                <p>
                <img src = "{{author.imageUrl }}" alt = "{{ author.name }}" />
                </p>
                <a href=" {{  path('app_author_update', {'id': author.id}) }}">Modifier</a><br>
                <a href=" {{  path('app_author_updateForm', {'id': author.id}) }}">Modifier avec SymfonyForm</a><br>
                <a href=" {{  path('app_author_remove', {'id': author.id}) }}">Supprimer</a>
                
            </div>

                {% endfor %}

        </div>

    
        
{% endblock %}