{% extends 'base.html.twig' %}

{% block body %}

    <h1> Modifier mon profil</h1>

        {{form(form)}}
    <hr/>
<div> 
<h1>Bienvenue {{ app.user.email }}</h1> 
<h1> Description: {{ app.user.description }}</h1> 
<h1> Prénom: {{ app.user.firstname }}</h1> 
<h1> Nom: {{ app.user.lastname }}</h1>
<h1>Photo de profil: </h1>
<img src="{{ app.user.imageUrl }}" alt="">
</div>
   

{% endblock %}