{% extends 'base.html.twig' %}

{% block title %}Liste des Maisons d'édition{% endblock %}

{% block stylesheets %}
  
    <style>
        /* pour center l'ensemble de la page */
        .center {
        width: 300px;
        border-collapse: collapse;
        }

        /* pour ajouter une bordure */
        .ph-list {
        border: solid 2px #3498db;
        text-align: left;
        padding: 40px;
        }

    </style>

{% endblock %}

{% block body %}

<h1>{% block pageTitle %}Liste des Maisons d'édition{% endblock %}</h1>

    <nav>
        <a href=" {{  path('app_publishing_house_create') }}">Ajouter une Maisons d'édition</a>
    </nav>
    <br>

<div class="center">

    {% for ph in PubHouse %}

            <div class="ph-list">

                <h2>{{ph.name}}</h2>
                <h3>{{ph.country}}</h3>
                <h3>{{ph.description}}</h3>

                {% for book in ph.Books %}
                    <h5>{{book.title}}</h5>
                 {% endfor %}

                <a href=" {{  path('app_publishing_house_update', {'id': ph.id}) }}">Modifier</a><br>
                <a href=" {{  path('app_publishing_house_remove', {'id': ph.id}) }}">Supprimer</a> 
            </div>

    {% endfor %}

</div>

    
        
{% endblock %}